@use "../colors/functions" as color;

.success {
  background-color: color.get-color("success", "dark") !important;
}

.error {
  background-color: color.get-color("error", "dark") !important;
}

.warning {
  background-color: color.get-color("warning", "dark") !important;
}

.primary {
  background-color: color.get-color("primary", "main");
}
