.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

@for $iteration from 0 through 100 {
  .f#{$iteration} {
    flex: #{$iteration}+ "%";
  }
}

/*
  * Sample output:
  * .f0 {
  *   flex: 0%;
  * }
  * 
  * .f1 {
  *   flex: 1%;
  * }
  * 
  * .f2 {
  *   flex: 2%;
  * }
  */

@for $iteration from 0 through 4 {
  .gap#{$iteration} {
    gap: #{calc(($iteration * 8) / 16)}+ "em";
  }
}

/*
  * Sample output:
  * .gap0 {
  *   gap: 0em;
  * }
  * 
  * .gap1 {
  *   gap: 8em;
  * }
  * 
  * .gap2 {
  *   gap: 16em;
  * }
  */
