@use "../../../styles/colors/functions" as *;

.white {
    fill: get-color("common", "white");
}

.light {
    fill: get-color("primary", "light");
}

.start {
    stop-color: get-color("secondary", "light");
}

.end {
    stop-color: get-color("secondary", "dark");
}

.round {
    border-radius: 5%;
}
